<launch>
    <!-- MAVROS node for BotTry -->
    <group ns="BotTry">
        <node pkg="mavros" type="mavros_node" name="mavros" required="true" clear_params="true">
            <param name="fcu_url" value="udp://:14550@192.168.17.01:14551" />
            <param name="gcs_url" value="" />
            <param name="target_system_id" value="1" />
            <param name="fcu_protocol" value="v2.0" />
            
            <!-- Параметры для Clover (если используется) -->
            <param name="tgt_system" value="1" />
            <param name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
            <param name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
        </node>
    </group>
</launch>